/* 4.3 Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn {
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: $button-padding-tb $button-padding-lr;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
    display: block;
    margin: $button-margin-top auto 0 auto;

    &.btn-link {
        box-shadow: none;
    }

    i {
        margin-right: 8px;
    }
}

.input-group-btn {
    .btn {
        margin-top: 0;
        padding: 12px 15px 11px 15px;

        i {
            font-size: $font-size-base;
        }
    }
}

a.btn {
    display: inline-block;
}

.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-accent {
    @include button-variant($btn-accent-color, $btn-accent-bg, $btn-accent-border);
}

.btn-ghost {
    @include button-variant($btn-ghost-color, $btn-ghost-bg, $btn-ghost-border);
}

.btn-download {
    @include button-variant($btn-download-color, $btn-download-bg, $btn-download-border);
}

.btn-download {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    font-size: $btn-download-font-size;
    height: $btn-download-height;
    text-transform: none;
    font-weight: $btn-download-font-weight;

    i,
    span {
        display: table-cell;
        vertical-align: top;
        line-height: 1rem;
    }

    i {
        font-size: 36px;
        padding-right: 10px;
    }

    b {
        font-size: 18px;
        position: relative;
        z-index: 2;
        display: block;
    }

    &:hover {
        background-color: lighten($btn-download-bg, 16%);
    }
}

.btn-ghost {
    &:hover {
        background-color: $btn-ghost-hover-bg;
        color: $btn-ghost-hover-color;
    }
}

.light-bg {
    .btn-ghost {
        border-color: darken($btn-ghost-border, 8%);
        background-color: $btn-ghost-hover-bg;
        color: $btn-ghost-hover-color;
    }
}

@media (max-width: $screen-xs-max) {
    .btn-download {
        height: auto;
        font-size: 10px;

        i {
            font-size: 22px;
        }

        b {
            font-size: 12px;
        }
    }

    .btn-icon {
        i {
            font-size: 1.15rem;
            margin-right: 0;
        }

        span {
            display: none;
        }
    }
}
