/* ==========================================================================
   8. FOOTER
   ========================================================================== */

footer.footer-main {
    background-color: $footer-bg-color;
    color: $footer-color;

    .container {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    a {
        color: $footer-a-color;

        &:hover {
            color: $footer-a-color-hover;
        }
    }

    h4, h5 {
        color: $footer-title-color;
    }

    .divider {
        border-color: $footer-color;
        margin: 1.5em 0;
    }

    .links {
        li {
            margin: 2em 0 0.5em 0;
        }
    }

    .footer-social {
        background-color: $footer-social-bg-color;

        [class*="fa-"] {
            font-weight: normal;
            font-size: $social-icon-font-size;
            padding: $social-icon-padding 0 $social-icon-padding $social-icon-padding;
        }

        @media (max-width: $grid-float-breakpoint-max) {
            span {
                display: none;
            }
        }
    }

    .logo {
        display: block;
        height: 60px;
        padding: 5px 0;

        img {
            height: 100%;
            width: auto;
        }
    }

    .policy {
        a {
            color: $footer-policy-color;

            &:hover {
                color: lighten($footer-policy-color, 8%);
            }
        }
    }

    .form-message {
        max-height: 100%;
        overflow: hidden;
        padding: 10px;
    }

    @media (max-width: $grid-float-breakpoint-max) {
        .footer-site {
            .container {
                text-align: center;
            }

            .col {
                padding-top: 20px;
                padding-bottom: 20px;

                + .col {
                    &:before {
                        background-color: $footer-color;
                        content: '';
                        height: 2px;
                        width: 40px;
                        position: absolute;
                        margin-top: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .logo {
            img {
                margin: 0 auto;
            }
        }
    }
}
