/* ==========================================================================
   4. FORMS
   ========================================================================== */

/* 4.1 Form controls ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.form-control {
    box-shadow: none;

    &:focus {
        border-color: $form-control-focus-color;
        outline: 0;
        box-shadow: none;
    }
}

.has-success .form-control,
.has-warning .form-control,
.has-error .form-control {
    &,
    &:focus {
        border-color: transparent;
        box-shadow: none;
    }
}

label {
    &.error {
        margin-top: $input-wrapper-label-error-margin-top;
        color: $color-error;
        font-size: .7em;

        position: absolute;
        right: 0;
    }
}

.form-control {
    margin-top: 20px;
    padding: 10px 15px;
    height: auto;
}

.input-group {
    .input-group-btn {
        .btn {
            margin-top: 20px;
        }
    }
}

.form-group {
    position: relative;

    i {
        color: #CCC;
        line-height: 40px;
        position: absolute;
        left: 15px;

        + select {
            appearance: none;
        }

        + .form-control {
            padding: 10px 15px 10px 45px;
        }
    }

    .form-control {
        margin-top: 0;
    }
}

.form-message {
    margin: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    border-radius: 0;
    transition: transform .4s, opacity .3s;
    transform: scale(0);
    transform-origin: left top;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }
}

.form-wrapper {
    position: relative;
}

.form-subscribe {
    position: relative;
}

.input-wrapper {
    position: relative;
    margin-top: $input-wrapper-margin-top;

    label {
        position: absolute;
        left: 0;
        top: $input-wrapper-label-top;
        margin: 0;
        pointer-events: none;
        font-weight: normal;
        color: $input-wrapper-label-color;
        transition: all 0.4s ease 0s;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
    }

    &:before {
        background: $input-wrapper-border-color;
    }

    &:after {
        background: $input-wrapper-border-color-active;
        transform: scale3d(0, 1, 1);
        transform-origin: top center;
        transition: transform 0.4s ease;
    }

    &.active, &.filled {
        &:after {
            transform: scale3d(1, 1, 1);
        }
    }

    &.has-error {
        margin-bottom: 0;

        &:after {
            background: $color-error !important;
        }

        label {
            color: $color-error !important;
        }
    }

    .form-control {
        border-color: transparent;
        background: transparent;
        display: block;
        padding-left: 0;
        font-weight: $font-weight-bold;
        color: $input-color;
        transition: color 0.3s ease-in-out;

        &,
        &:focus {
            border-color: transparent;
        }

        &:focus, &.filled {
            ~ label {
                top: $input-wrapper-label-active-top;
                font-size: $input-wrapper-label-active-font-size;
                color: $input-wrapper-label-active-color;
            }
        }
        &:focus, &:hover {
            color: $input-focus-color;
        }
    }
}

.checkbox, .radio {
    margin-top: 20px;

    label {
        color: $input-wrapper-label-color;
        cursor: pointer;
        padding-left: 0;

        &:before {
            transition: border 0.25s ease-in-out 0s, color 0.25s ease-in-out 0s;
            border: 1px solid $input-wrapper-label-color;
            display: inline-block;
            padding: 0;
            margin: 0 .5em 0 0;
            vertical-align: middle;
            height: 17px;
            width: 17px;
            font-family: $chk-accent-font-family;
            line-height: 1em;
            content: " ";
        }
    }

    input {
        &:checked {
            + label {
                &:before {
                    border-color: $chk-accent-border-color;
                    text-align: center;
                }

                &:after {
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

.checkbox {
    input[type="checkbox"] {
        display: none;

        &:checked {
            + label {
                &:before {
                    background: $chk-accent-bg;
                    color: $chk-accent-color;
                    content: "\f122";
                }
            }
        }
    }

    &.circle {
        label:before {
            border-radius: 50%;
        }
    }
}

.radio {
    input[type="radio"] {
        display: none;

        &:checked {
            + label {
                &:before {
                    /* invert colors */
                    background: $chk-accent-color;
                    color: $chk-accent-bg;
                    content: "\f21b";
                }
            }
        }
    }

    label:before {
        border-radius: 50%;
    }
}
