/* 3.5 Widgets ========================================================================== */

[class*="fa-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-right: 5px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.has-circle {
    display: inline-block;
    min-width: 2em;
    min-height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
}

.facebook {
    background-color: $color-facebook;
}

.twitter {
    background-color: $color-twitter;
}

.googleplus {
    background-color: $color-googleplus;
}

.youtube {
    background-color: $color-youtube;
}

.linkedin {
    background-color: $color-linkedin;
}

.instagram {
    background-color: $color-instagram;
}

.whatsApp {
    background-color: $color-whatsapp;
}

.pinterest {
    background-color: $color-pinterest;
}

.vine {
    background-color: $color-vine;
}

.snapchat {
    background-color: $color-snapchat;
}

.quora {
    background-color: $color-quora;
}

.dropbox {
    background-color: $color-dropbox;
}

.flickr {
    background-color: $color-flickr;
}

.tumblr {
    background-color: $color-tumblr;
}

.vk {
    background-color: $color-vk;
}

.vimeo {
    background-color: $color-vimeo;
}

.foursquare {
    background-color: $color-foursquare;
}

.spotify {
    background-color: $color-spotify;
}

.github {
    background-color: $color-github;
}

.behance {
    background-color: $color-behance;
}

.rss {
    background-color: $color-rss;
}

.icon-md {
    i {
        font-size: 1.5rem;
    }
}

.icon-lg {
    i {
        font-size: 2.5rem;
    }
}

// ICONS LIST
.list-icon {
    list-style-type: none;

    li {
        padding-top: 10px;

        > * {
            display: table-cell;
        }

        i {
            padding-right: 15px;
        }
    }
}

ol {
    /*margin: 0;*/
    padding: 0;
    list-style-type: none;

    li {
        counter-increment: step-counter;
        margin-top: 15px;

        &:before {
            content: counter(step-counter);
            margin-right: 8px;
            font-size: 80%;
            background-color: $color-accent;
            color: lighten($color-accent, 25%);
            font-weight: $font-weight-bold;
            padding: 3px 8px;
            border-radius: 3px;
        }
    }

    &.rounded {
        li:before {
            border-radius: 50%;
        }
    }

    &.list-icon {
        li:before {
            font-family: $font-family-icons;
            content: '\f00c';
            padding: 6px;
        }
    }
}
