// GENERAL MIXINS
@mixin navbar-active($color, $shadow) {
    color: $color;
    background-color: transparent;
    box-shadow: 0 $navbar-bottom-border-height 0 0 $shadow inset;
}

@mixin section-heading ($color) {
    color: $color;

    h1, h2, h3 {
        color: $color;
    }

    h4, h5, h6, p {
        color: $color;
    }
}

@mixin zooming ($name, $start, $end) {
    @keyframes zooming-#{$name} {
        0%, 24.999%  {
            z-index: 2;
        }
        25.001%, 100%  {
            z-index: 1;
        }

        0%, 100% {
            opacity: 0;
            transform: scale($start);
        }
        6.25%, 25% {
            opacity: 1
        }
        31.25%, 75% {
            opacity: 0;
            transform: scale($end);
        }
    }
}

@mixin zoom ($name, $start, $end) {
    @keyframes zoom-#{$name} {
        0.001%, 33.33233333333334% {
            z-index: 2;
        }
        0%, 100% {
            opacity: 0;
            transform: scale($start);
        }
        8.333333333333334%, 33.333333333333336% {
            opacity: 1
        }
        41.66666666666667%, 66.66666666666666% {
            opacity: 0;
            transform: scale($end);
        }
        33.33433333333333%, 100% {
            z-index: 1;
        }
    }
}

@mixin progress () {
    @keyframes progress {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}

@mixin slider-zoom ($name, $count, $slide-duration) {
    $overall-duration: $slide-duration * $count;
    @for $i from 0 to $count {
        li:nth-child(#{$i+1}) {
            img {
                animation: zoom-#{$name} $overall-duration infinite ($slide-duration * $i) linear;
            }

            .progress-bar {
                animation: progress $slide-duration linear 0s infinite;
            }
        }
    }
}

@mixin center-xy() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-x() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-y() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// ANIMATIONS
@mixin bounce($animation, $value1, $value2) {
    @keyframes #{$animation} {
        0% {
            opacity: .2;
            transform: translateX($value1);
        }
        60% {
            opacity: .7;
            transform: translateX($value2);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@mixin cut($animation, $value) {
    @keyframes #{$animation} {
        0% {
            opacity: 1;
            transform: translateX($value);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@mixin reveal($animation, $value) {
    @keyframes #{$animation} {
        0% {
            opacity: 1;
            transform: translateY($value);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@mixin mask2($animation, $value) {
    @keyframes #{$animation} {
        0% {
            transform: translateX($value);
        }

        100% {
            transform: translateX(0);
        }
    }
}
