// [ FONTS ]
$font-family-template: "Source Sans Pro", $font-family-base;
$font-family-complementary: "Lato", $font-family-template;
$font-family-icons: "FontAwesome";

// [ICONS]
$social-icon-padding: 22px;
$social-icon-font-size: 22px;

// [ COLORS ]
$color-1: #ffffff !default;
$color-2: #4E5A70 !default; // these will give us font color
$color-3: #1B99B9 !default;
$color-4: #18B295 !default;
$color-5: #181c1f !default;
$color-6: #e5e8ea !default;

$color-scheme: (1: $color-1, 2: $color-2, 3: $color-3, 4: $color-4, 5: $color-5);

$color-error: #dd2c00 !default;
$color-accent: $color-3 !default;
$color-primary: $color-4 !default;
$overlay-default : #000 !default;

// [ DEFAULT ]
$padding-default: $line-height-computed * 3; // ~60px
$border-radius-default: 2px;
$border-color-default: lighten($color-2, 10%);
$region-margin-top: $padding-default;
$paragraph-margin-default: 1.5rem;

// [ SOCIAL MEDIA COLORS ]
$color-facebook     : #3b5998;  //RGB: 59, 89, 152
$color-twitter      : #55acee;  //RGB: 85, 172, 238
$color-googleplus   : #dd4b39;  //RGB: 221, 75, 57
$color-youtube      : #bb0000;  //RGB: 187, 0, 0
$color-linkedin     : #007bb5;  //RGB: 0, 123, 181
$color-instagram    : #125688;  //RGB: 18, 86, 136
$color-whatsapp     : #4dc247;  //RGB: 77, 194, 71
$color-pinterest    : #cb2027;  //RGB: 203, 32, 39
$color-vine         : #00bf8f;  //RGB: 0, 191, 143
$color-snapchat     : #fffc00;  //RGB: 255, 252, 0
$color-quora        : #a82400;  //RGB: 168, 36, 0
$color-dropbox      : #007ee5;  //RGB: 0, 126, 229
$color-flickr       : #ff0084;  //RGB: 255, 0, 132
$color-tumblr       : #32506d;  //RGB: 50, 80, 109
$color-vk           : #45668e;  //RGB: 69, 102, 142
$color-vimeo        : #aad450;  //RGB: 170, 212, 80
$color-foursquare   : #0072b1;  //RGB: 0, 114, 177
$color-spotify      : #00e461;  //RGB: 0, 228, 97
$color-github       : #000000;  //RGB: 0, 0, 0
$color-behance      : #1769ff;  //RGB: 23, 105, 255
$color-rss          : #ff6600;  //RGB: 255, 102, 0

// [ THEME DEFAULT COLORS ]
$preloader-background-color: darken($color-1, 16%) !default;
$preloader-lighten-background-color: lighten($preloader-background-color, 6%) !default;
$html-text-color: darken($color-2, 7%) !default;
$html-text-color-lighten: lighten($html-text-color, 50%) !default;
$html-background-color: $color-1 !default;
$page-loader-color: lighten($color-2, 7%) !default;
$page-loader-bar-height: 3px !default;
$h-text-color: darken($html-text-color, 13%) !default;
$text-color-dark: $h-text-color !default;
$text-color-light: $color-1 !default;
$tabs-border-color: $color-accent !default;

// [ SIZES ]
$font-size-base: 16px;
$font-size-small: $font-size-base / 2;
$font-size-regular: $font-size-base;
$font-size-medium: $font-size-base * 2;
$font-size-large: $font-size-base * 3;
$font-size-extra-large: $font-size-base * 4;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

$mockup-margin-default: $padding-default;
$mockup-margin-default-half: $mockup-margin-default / 2;
$mockup-margin-default-third: $mockup-margin-default / 3;

// [ LOGO ]
$logo-width: 110px;
$logo-height: 55px;

// HEADER
$screen-header-clean : 580px;
$screen-header-mk-clean : 680px;
$header-background-color: $color-1;
$header-content-color: $color-1;
$header-area-margin-top: $padding-default;

$header-h-font-size-xs: 36px;
$header-h-font-thin-size-xs: 56px;
$header-h-light-font-size-xs: 22px;
$header-p-font-size-xs: 16px;

// HEADER TOUR
$iphone-width: 320px;
$iphone-height: 568px;

$header-tour-phone-bg-color: $color-5;
$header-tour-content-width: $iphone-width * .7;
$header-tour-content-height: $iphone-height * .7;

$header-tour-content-lg-width: $iphone-width;
$header-tour-content-lg-height: $iphone-height;

// HEADER SLIDER
$header-slider-count: 4; // Number of images
$header-slider-animation-position : 100% / $header-slider-count;
$header-slider-height: 100%;
$header-slider-slide-fade-duration: 2000ms; // Fade duration between images
$header-slider-slide-duration: 12000ms; // Transition duration between images
$header-slider-duration: $header-slider-slide-duration * $header-slider-count; // Overall slider duration
$header-slider-progress-color: #ffff00;

// [ FORM ]
//$input-border: $border-color-default;
$input-color: darken($input-border, 8%);
$input-focus-color: darken($input-color, 18%);

$form-control-focus-color: $color-accent;
$input-wrapper-margin-top: $padding-default;
$input-wrapper-label-top: calc(50% - #{($font-size-base/2)});
$input-wrapper-border-color: $input-border; // $input-border -> from bootstrap
$input-wrapper-border-color-active: $form-control-focus-color;
$input-wrapper-label-color: $input-wrapper-border-color;
$input-wrapper-label-active-color: $input-wrapper-border-color-active;
$input-wrapper-label-active-top: -($input-wrapper-margin-top / 4);
$input-wrapper-label-active-font-size: 70%;
$input-wrapper-label-error-margin-top: 6px;

// [ FORMS ]
$button-font-family: $font-family-complementary;
$button-font-weight: $font-weight-bold;
$button-font-size: 11px;
$button-margin-top: $padding-default / 2;
$button-padding-tb: 1em;
$button-padding-lr: $button-padding-tb * 2;

$btn-font-color: $color-1 !default;

$btn-primary-color: $btn-font-color;
$btn-primary-bg: $color-4;
$btn-primary-border: darken($btn-primary-bg, 5%);
$btn-primary-font-family: $font-family-complementary;

$btn-accent-color: $btn-font-color;
$btn-accent-bg: $color-accent;
$btn-accent-border: darken($btn-accent-bg, 5%);

$btn-ghost-color: $btn-font-color;
$btn-ghost-bg: transparent;
$btn-ghost-hover-bg: #fefefe;
$btn-ghost-hover-color: #131313;
$btn-ghost-border: $btn-ghost-color;

$btn-download-color : $btn-font-color !default;
$btn-download-bg: #000;
$btn-download-border: darken($btn-download-bg, 5%);
$btn-download-font-size : 12px;
$btn-download-height : 60px;
$btn-download-font-weight: $font-weight-regular; //*

$chk-accent-color: $btn-accent-color;
$chk-accent-bg: $btn-accent-bg;
$chk-accent-border-color: $btn-accent-border;
$chk-accent-font-family: $font-family-icons;

// [ NAVBAR ]
$navbar-min-height: 90px;
$navbar-background-color: transparent;
$navbar-text-color: $color-1;
$navbar-hover-color: darken($navbar-text-color, 15%);

$navbar-bottom-background-color: rgba($color-5, 0.96);
$navbar-bottom-text-color: rgba($color-1, 0.5);
$navbar-bottom-icon-color: rgba($color-accent, 0.5);
$navbar-bottom-text-hover-color: $color-1;
$navbar-bottom-icon-hover-color: $color-accent;

$navbar-sticky-background-color : $color-1;
$navbar-sticky-text-color: $color-2;
$navbar-sticky-hover-color: $color-3;

$navbar-default-background-color: $navbar-sticky-background-color;

$navbar-collapsed-background-color : $color-1;
$navbar-collapsed-text-color: $color-3;
$navbar-collapsed-hover-color: darken($navbar-collapsed-text-color, 8%);

$navbar-bottom-border-height: 2px;
$navbar-aside-background-color : $color-1;

$navbar-side-width: 250px;
$navbar-side-background-color: $color-3 ;
$navbar-side-text-color: $color-1;

// ACCORDION
$accordion-border-left: 40px;
$accordion-border-color: $color-accent;
$accordion-icon-color: lighten($accordion-border-color, 50%);

// ERRORS
$error-border-color: #D85C5C;
$error-input-color: #EBB3BC;
$error-label-color: #fff;
$error-label-border-color: darken($error-border-color, 20%);
$input-valid-border-color: #44B449;

// MODALS
$modal-header-bg-color: $color-1;
$modal-header-color: $color-primary;
$modal-header-border-radius: 0; //from BS

// SECTIONS
$section-default-bg: $html-background-color;
$section-default-border-color: #bfbbc2;

$section-about-bg-color: $color-3;
$section-about-text-color: $color-1;
$section-padding: $padding-default * 1.5;
$section-heading-margin: $padding-default * 1.5;

$section-title-font-size: $font-size-base * 3.25; // ~52px;
$section-title-font-size-xs: $font-size-large;
$section-title-font-weight: $font-weight-thin;
$section-title-font-family: $font-family-complementary;

$section-subtitle-font-size: ceil($section-title-font-size * 0.5);
$section-subtitle-font-weight: $font-weight-light;

$section-subtitle-font-size-xs: ceil($section-title-font-size-xs * 0.5);
$section-subtitle-font-size-xs: $section-subtitle-font-size-xs;

$section-line-width: 4px; // used in section titles
$section-line-distance: 20px;
$section-line-bg: $color-accent;

$section-slides-show-width: 270px;

// PROCESS
$process-bg-color: $color-6 !default;
$process-nav-bg-color: $color-1;
$process-nav-height: 60px;
$process-nav-color: $color-accent;
$process-nav-border-radius: $border-radius-default * 2;
$process-nav-step-count: 5;
$process-nav-step-same-width: (100% / $process-nav-step-count);
$process-circle-border-color: darken($process-bg-color, 12%);

// CLIENTS
$client-count: 6;
$client-bg-color: lighten($html-text-color, 63%);

// FEATURES
$features-bg-color: lighten($color-5, 10%);
$features-title-color: $color-1;
$features-font-size-filter: $font-size-base * 1.5;
$features-color: lighten($features-bg-color, 35%);
$features-icon-color: $color-1;
$features-a-color: lighten($features-color, 10%);
$features-a-color-hover: $color-1;

// SCREENSHOTS
//$screenshot-slides-wrapper-width: 270px;
$screenshot-slides-fade-left: $section-default-bg;
$screenshot-slides-fade-right: rgba($screenshot-slides-fade-left, 0.3);

// SHORT
$short-bg-color: $color-4;
$short-color: $color-1;

//TESTIMONIALS
$testimonials-user-border-color: $color-5;
$testimonials-user-shadow-color: rgba($testimonials-user-border-color, 0.3);

//PRICING
$pricing-slider-plan-width: (100% / 3);
$pricing-slider-plan-width-2: (100% / 3 * 2);
$pricing-slider-border-color: $color-1;
$pricing-overlay-bg-color: $color-5;

$pricing-box-border-color: lighten($html-text-color, 50%);
$pricing-box-header-bg-color: $color-2;
$pricing-box-header-color: $color-1;

$pricing-box-header-best-bg-color: $color-accent;
$pricing-box-header-best-color: $color-1;
$pricing-box-border-radius: $border-radius-default * 2;
$pricing-slider-selection-color: $color-4;
$pricing-slider-handle-bg-color: $color-1;

//DOWNLOAD
$download-slider-count: 4; // Number of images
$download-slider-animation-position : 100% / $download-slider-count;
$download-slider-slide-fade-duration: 1500ms; // Fade duration between images
$download-slider-slide-duration: 4000ms; // Transition duration between images
$download-slider-duration: $download-slider-slide-duration * $download-slider-count; // Overall slider duration

// VIDEO
$video-text-color: $color-1;
$video-control-size: 72px;
$video-control-color-bg: rgba($video-text-color, 0.07);
$video-control-color-bg-hover: rgba($color-accent, 0.7);
$video-control-color: rgba($video-text-color, 0.5);
$video-control-color-hover: $video-text-color;

//FAQS
$faqs-border-color: $input-border;

//DESKTOP
$desktop-bg-color: $color-6;

//CONTACT
$contact-clean-bg-color: $color-6;

//FOOTER
$footer-bg-color: $color-5;
$footer-color: lighten($footer-bg-color, 35%);
$footer-social-bg-color: darken($footer-bg-color, 5%);
$footer-a-color: lighten($footer-bg-color, 30%);
$footer-a-color-hover: lighten($footer-a-color, 15%);
$footer-title-color: lighten($footer-color, 6%);
$footer-policy-color: lighten($footer-title-color, 8%);

// WIDGET
$widget-title-font-size: $section-title-font-size * 0.5;
$widget-icon-font-size: floor($widget-title-font-size * 1.5);
$widget-icon-color: $color-3;
$widget-bg-hover: lighten($color-1, 5%);
