/* ==========================================================================
   6. HEADER STYLES
   ========================================================================== */

/* 6.1 Header base styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header-site {
    height: 100%;
    position: relative;

    &, h1, h2, p {
        color: $header-content-color;
    }

    .header-title {
        h1 {
            margin: 0;
        }

        span {
            display: block;
            font-size: $font-size-medium;

            &.inline {
                display: inline;
                font-size: inherit;
            }
        }
    }

    h1, h2 {
        font-size: $font-size-extra-large;

        &.thin {
            font-size: $font-size-extra-large * 1.5;
        }
    }

    p {
        font-size: $font-size-base * 1.5;
        font-weight: $font-weight-light;
        margin-bottom: 5px;
    }

    p + h1 {
        margin-top: 0;
    }

    a {
        display: inline-block;
        margin-right: 15px;
    }

    .container {
        position: relative;
        height: 100%;
        margin: 0 auto;
        //padding-top: $navbar-min-height;
    }

    .region {
        small {
            display: block;
        }
    }

    .mockup-wrapper {
        position: absolute;
    }

    .mockup {
        &.mockup-lg {
            transform: translateY(-25%);
        }
    }

    .mockup-logo {
        max-width: 90px;
        margin-left: 0;

        &.center {
            margin-left: auto;
        }

        @media (max-height: $screen-header-mk-clean) {
            display: none;
        }
    }

    .list-icon {
        li {
            margin-top: 15px;
        }
    }

    .col {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 50%;
    }

    .form-wrapper {
        padding: 15px;

        span[class*='bg-'] {
            padding: 8px;
            display: block;
            margin-top: 5px;
        }

        .form-group {
            margin-bottom: 30px;
        }

        .btn {
            display: inline-block;
            margin: 0;
        }
    }

    &.half-bg {
        .overlay {
            &:before {
                display: block;
                left: 50%;
                // background-color: rgba(255,255,255,0.5);
            }
        }

        &.right {
            .overlay {
                &:before {
                    left: 0;
                }
            }

            /*&:before {
                left: auto;
            }*/
        }
    }

    &.blurred {
        &:before {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            display: block;
            filter: blur(6px);
            height: 100%;
            left: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }

    @media (max-width: $grid-float-breakpoint-max) {
        text-align: center;

        .mockup-logo {
            margin-left: auto;
            margin-top: 30px;
        }

        p {
            display: inline-block;
            margin-right: 5px;
            font-size: $header-p-font-size-xs;
        }

        h1, h2 {
            font-size: $header-h-font-size-xs;

            &.light {
                font-size: $header-h-light-font-size-xs;
            }

            &.thin {
                font-size: $header-h-font-thin-size-xs;
            }
        }
    }

    @media (max-height: $screen-header-clean) {
        p {
            display: none;
        }
    }

    @media (max-height: $screen-header-mk-clean) {
        .intro {
            margin-top: 45px;
        }
    }
}
