/* 6.7 Splash ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header-splash {
    .intro {
        padding-top: $padding-default * 2;
    }

    .mockup-wrapper {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 80%;
        padding-top: $padding-default / 2;
    }

    .mockup-tablet {
        max-width: 820px;
        position: relative;
        transition: all 0.3s ease-in-out 0s;
    }

    .mockup-absolute {
        left: 0;
        bottom: 0;
        height: 75%;

        img {
            height: 100%;
            width: auto;
        }
    }

    @media (max-height: $screen-header-mk-clean) {
        /*.mockup-wrapper {
            width: 55%;
        }*/
        height: auto;

        .intro {
            transform: none;
        }
    }
}
