/* 7.20 Contact form image ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
.contact-us.half-bg {
    &:before {
        background: url("../img/section/bg/contact.jpg") left center / cover no-repeat;
    }

    .section-heading {
        &, h2 {
            color: $text-color-light;
        }
    }

    @media (max-width: $grid-float-breakpoint) {
        .section-heading {
            &, h2 {
                color: $text-color-dark;
            }
        }
    }
}
