/* 7.3 Clients ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.clients {
    background-color: $client-bg-color;

    figure {
        display: block;
        width: 120px;
        opacity: 0.75;
        transition: opacity 0.3s ease-in;

        @for $p from 1 through $client-count {
            &.client-#{$p} {
                background: url(../img/section/clients/#{$p}.svg) no-repeat center center;
                background-size: contain;
            }
        }
    }

    &:hover {
        figure {
            opacity: 0.35;

            &:hover {
                opacity: 1;
            }
        }
    }
}
