/* 7.7 Testimonials ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.testimonials {
    .testimonials-wrapper {
        margin-bottom: $padding-default;
    }

    .photo {
        background: transparent;
        border: 2px solid $testimonials-user-border-color;
        border-radius: 50%;
        box-shadow: 0 0 10px 1px $testimonials-user-shadow-color;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        width: 120px;

        img {
            padding: 2px;
            border-radius: 50%;
            width: 100%;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            height: 1px;
            background-color: $border-color-default;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    .user {
        text-align: center;
        margin-bottom: $padding-default;
    }

    .mockup {
        max-width: 100%;

        &.company {
            margin: ($padding-default/2) $padding-default ($padding-default/2) auto;
            max-width: 300px;
        }
    }

    .author {
        cite {
            font-weight: bold;
            font-size: 1.2em;
            font-style: normal;
        }

        .small {
            padding-left: 18px;
            font-style: italic;

            &:before {
                content: none;
            }
        }

        .rating {
            ul {
                li {
                    padding-right: 0;
                }
            }

            i {
                margin: 0;
            }
        }
    }

    blockquote {
        border-left: none;
        margin: 0;
        position: relative;

        p {
            margin-bottom: $paragraph-margin-default;
            padding-left: 18px;

            &:before {
                font-family: $font-family-icons;
                position: absolute;
                font-size: 1.5em;
                opacity: 0.1;
                content: "\f10d";
                top: $paragraph-margin-default;
                left: 0;
            }
        }

        small, .small {
            color: $color-accent;
        }
    }

    .testimonial {
        border-left: 1px solid $border-color-default;
    }

    .flex-direction-nav a {
        top: 45%;
        opacity: 1;
        height: 45px;
        width: 45px;

        /*.flex-prev {
            left: 0;
        }

        .flex-next {
            right: 0;
        }*/
    }

    @media (max-width: $grid-float-breakpoint) {
        .mockup {
            &.company {
                margin: 30px auto;
            }
        }

        .testimonial {
            border-left: none;
        }

        .user {
            margin-bottom: $padding-default / 2;
        }

        .flex-direction-nav a {
            width: 45px;
            height: 45px;
            top: 28%;
            margin: 0 10px;
            right: 0;
        }
    }
}
