/* --------------------------------
Bouncy
-------------------------------- */
@include bounce(bounce-right, -200px, 15px);
@include bounce(bounce-left, 200px, -15px);

.header-site {
    .bouncy {
        h1,
        p {
            animation-duration: .6s;
        }

        h1 {
            animation-name: bounce-right;
        }

        p {
            animation-name: bounce-left;
        }

        .btn {
            animation-name: bounce-rotate;
            animation-duration: .5s;

            &.main-action {
                animation-delay: .4s;
            }
        }
    }
}

@keyframes bounce-rotate {
    0% {
        opacity: .2;
        transform: perspective(800px) rotateX(-80deg);
    }

    20% {
        opacity: 1;
    }

    60% {
        transform: perspective(800px) rotateX(20deg);
    }

    100% {
        opacity: 1;
        transform: perspective(800px) rotateX(0deg);
    }
}
