/* 7.10 Video general styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.video-player {
    background-color: transparent;
    width: 100%;

    /*&, h2 {
        color: $video-text-color;
    }*/

    .video-controls {
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        position: absolute;
        justify-content: center;

        &.started {
            i.pause {
                opacity: 0;
            }

            &:hover {
                i.pause {
                    opacity: 1;
                }
            }
        }

        i {
            align-self: center;
            height: $video-control-size;
            width: $video-control-size;
            transition: all 0.3s;
            font-size: $font-size-medium;
            padding: 19px 0;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
            background-color: $video-control-color-bg;
            color: $video-control-color;
            border: 2px solid $video-control-color;

            &:hover {
                color: $video-control-color-hover;
                background-color: $video-control-color-bg-hover;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .video-content {
            text-align: center;

            h2 {
                padding-bottom: $video-control-size * .75;
            }

            p {
                padding-top: $video-control-size * .75;
            }
        }
    }
}
