/* 7.18 Pricing table boxed ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.pricing-box {
    .pricing-plan {
        border: 1px solid $pricing-box-border-color;
        border-radius: $pricing-box-border-radius;
        margin-bottom: $padding-default;

        &.best-value {
            border: 2px solid $pricing-box-header-best-bg-color;
            box-shadow: 0 0 3px 1px rgba($pricing-box-header-best-bg-color, .35);

            .plan-header {
                background-color: $pricing-box-header-best-bg-color;

                &, i, p, h3 {
                    color: $pricing-box-header-best-color;
                }
            }
        }
    }

    .plan-header {
        padding: $padding-default ($padding-default/2);
        border-radius: $pricing-box-border-radius $pricing-box-border-radius 0 0;
        background-color: lighten($pricing-box-header-bg-color, 5%);
        text-align: left;
        position: relative;

        &, i, p, h3 {
            color: $pricing-box-header-color;
        }

        i {
            @include center-y;
            font-size: $font-size-extra-large;
            right: $padding-default / 2;
        }

        h3 {
            margin-bottom: 0;
            font-weight: $font-weight-bold;
        }

        p {
            opacity: 0.5;
            margin-top: 0;
        }
    }

    .plan-details {
        padding: $padding-default ($padding-default/2);
    }

    .plan-footer {
        text-align: left;
        border-top: 1px solid $pricing-box-border-color;

        p {
            font-size: 0.85em;
            font-style: italic;
            color: lighten($html-text-color, 5%);
            padding: 0 ($padding-default/2);
        }
    }

    a.btn {
        display: block;
    }

    .list-features {
        padding-left: $padding-default /2;

        li {
            &:before {
                content: '\f111';
                font-family: $font-family-icons;
                font-size: 0.8em;
                display: inline-block;
                text-rendering: auto;
                margin-right: 10px;
            }

            &.feature-unavailable {
                color: $html-text-color-lighten;
                text-decoration: line-through;

                &:before {
                    content: '\f10c';
                }
            }
        }

        .info {
            a {
                border-bottom: 1px dotted $pricing-box-border-color;
                cursor: pointer;

                &:after {
                    content: '\f29c';
                    font-family: $font-family-icons;
                    font-size: 0.8em;
                    display: inline-block;
                    text-rendering: auto;
                    margin-left: 5px;
                }

                + .info-content {
                    position: absolute;
                    background-color: lighten($pricing-box-border-color, 12%);
                    border: 1ps solid $pricing-box-border-color;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
                    padding: 5px 15px 15px 30px;
                    width: 70%;
                    display: none;
                    z-index: 1;

                    p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
