/* 7.13 Process arrow ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.process.process-arrow {
    .process-nav {
        li {
            background-color: $process-nav-bg-color;
            color: $process-nav-color;

            &:before,
            &:after {
                content: '';
                z-index: 1;
                position: absolute;
                top: 0; bottom: 0; left: 100%;
                width: 0; height: 0;
                border-top: $process-nav-border-size solid transparent;
                border-bottom: $process-nav-border-size solid transparent;
                border-left: ($process-nav-border-size/2) solid transparent;
                transition: all .3s;
            }

            &:before {
                border-left-color: $process-nav-color;
            }

            &:after {
                border-left-color: $process-nav-bg-color;
            }

            &:first-child {
                border-radius: $process-nav-border-radius 0 0 $process-nav-border-radius;
            }

            &:last-child {
                border-radius: 0 $process-nav-border-radius $process-nav-border-radius 0;

                &:before, &:after {
                    content: none;
                }
            }

            &:hover {
                background-color: lighten($process-nav-color, 10%);
                color: $process-nav-bg-color;

                &:after {
                    border-left-color: lighten($process-nav-color, 10%);
                }
            }

            &.flex-active,
            &.loaded {
                background-color: $process-nav-color;
                color: $process-nav-bg-color;

                &:hover {
                    background-color: darken($process-nav-color, 10%);

                    &:after {
                        border-left-color: darken($process-nav-color, 10%);
                    }
                }

                &:before {
                    border-left-color: $process-nav-bg-color;
                }

                &:after {
                    border-left-color: $process-nav-color;
                }
            }

            @media (max-width: $grid-float-breakpoint-max) {
                width: $process-nav-step-same-width;
                /*max-width: 60px;
                margin: 0 0.1em;
                float: none;
                display: inline-block;*/

                /*
                &,
                &:last-child,
                &:first-child {
                    border-radius: $process-nav-border-radius;
                }

                &:before, &:after {
                    content: none;
                }
                */
            }
        }
    }
}
