/* 7.14 Process circles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.process.process-circle {
    .process-nav {
        margin-bottom: $padding-default / 2;

        li {
            padding: 0;

            &:before,
            &:after {
                content: '';
                position: absolute;
                background-color: $process-nav-bg-color;
                top: 50%;
                width: 50%;
                height: 5px;
                border-top: 1px solid $process-circle-border-color;
                border-bottom: 1px solid $process-circle-border-color;
                transition: all .3s;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }

            &:first-of-type {
                &:before {
                    content: none;
                }
            }

            &:last-of-type {
                &:after {
                    content: none;
                }
            }

            &.flex-active,
            &.loaded {
                &:before,
                &:after,
                .step {
                    background-color: $process-nav-color;
                    color: $process-nav-bg-color;
                    border-color: darken($process-nav-color, 5%);
                }
            }
        }

        .step {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border: 1px solid $process-circle-border-color;
            z-index: 1;
            border-radius: 50%;
            padding: 1em;
            position: relative;
            background-color: $process-nav-bg-color;
            color: $process-nav-color;
        }

        .step-icon {
            margin: 0;
        }

        .step-name {
            color: $process-nav-color;
        }

        @media (min-width: $grid-float-breakpoint) {
            .step-icon {
                font-size: $font-size-base * 1.5;
            }

            .step-name {
                display: block;
                margin-top: $padding-default / 2;

                @include center-x;
            }
        }
    }

    .process-inner {
        margin-top: 4em;
    }
}
